@model TrainingExerciseViewModel

<h2>@Translation.TRAINING_EXERCISE. </h2>

<form asp-action="EditTrainingExercise" method="post" class="form-horizontal" role="form">
    <h4>@Translation.MODIFY.</h4>
    <hr />

    <div asp-validation-summary="All" class="text-danger"></div>
    <input asp-for="UserId" hidden="hidden" />
    <input asp-for="Year" hidden="hidden" />
    <input asp-for="WeekOfYear" hidden="hidden" />
    <input asp-for="DayOfWeek" hidden="hidden" />
    <input asp-for="TrainingDayId" hidden="hidden" />
    <input asp-for="TrainingExerciseId" hidden="hidden" />
    <input asp-for="BodyExerciseId" hidden="hidden" />

    <div class="form-group">
        <div class="col-md-10">
            <table class="table">
                <tr>
                    <th>@Model.BodyExerciseName</th>
                    <th>@Translation.TEMPO</th>
                    <th>sec</th>
                </tr>
                <tr>
                    <td rowspan="5">
                    <img src="@string.Format("/images/bodyexercises/{0}.png", Model.BodyExerciseId)" style="height:150px; width:150px" id="bodyExerciseImage" class="bodyExerciseImage" onerror='this.style.display="none"' />
                    </td>
                    <td>
                        <label asp-for="RestTime" class="control-label"></label>
                    </td>
                    <td>
                        <input asp-for="RestTime" class="form-control" type="number" />
                    </td>
                </tr>

                <tr>
                    <td>
                        <label asp-for="EccentricContractionTempo" class="control-label"></label>
                    </td>
                    <td>
                        <input asp-for="EccentricContractionTempo" class="form-control" type="number" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label asp-for="StretchPositionTempo" class="control-label"></label>
                    </td>
                    <td>
                        <input asp-for="StretchPositionTempo" class="form-control" type="number" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label asp-for="ConcentricContractionTempo" class="control-label"></label>
                    </td>
                    <td>
                        <input asp-for="ConcentricContractionTempo" class="form-control" type="number" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label asp-for="ContractedPositionTempo" class="control-label"></label>
                    </td>
                    <td>
                        <input asp-for="ContractedPositionTempo" class="form-control" type="number" />
                    </td>
                </tr>
            </table>              
        </div>
    </div>

    <input asp-for="Unit" hidden="hidden" />

    <div class="form-group">
        <label asp-for="ExerciseUnitType" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <select asp-for="ExerciseUnitType" asp-items="ViewBag.ExerciseUnitTypes" onchange="this.form.submit();"></select>
            <span asp-validation-for="ExerciseUnitType" class="text-danger"></span>
        </div>
    </div>

    @if ((Model.Reps != null || Model.ExecutionTimes != null) && Model.Weights != null)
    {
        <div class="form-group">
            <div class="col-md-12">
                <table class="table">
                    <tr>
                        <th>
                            @if (Model.ExerciseUnitType == (int)TExerciseUnitType.RepetitionNumber)
                            {
                                @:@Translation.REPS
                            }
                            else
                            {
                                @:@Translation.EXECUTION_TIME (sec)
                            }
                        </th>
                        <th>
                            @Translation.WEIGHT (@(Model.Unit == TUnitType.Imperial ? Translation.POUND : "kg"))
                        </th>
                    </tr>
                    @{
                        int nbLines = (Model.ExerciseUnitType == (int)TExerciseUnitType.RepetitionNumber) ? Model.Reps.Count : Model.ExecutionTimes.Count;
                    }
                    @for (int i = 0; i < nbLines; i++)
                    {
                    <tr>
                        <td>
                            @if (Model.ExerciseUnitType == (int)TExerciseUnitType.RepetitionNumber)
                            {
                                <input asp-for="@Model.Reps[i]" class="form-control" />
                            }
                            else
                            {
                                <input asp-for="@Model.ExecutionTimes[i]" class="form-control" />
                            }
                        </td>
                        <td>
                            <input asp-for="@Model.Weights[i]" class="form-control" />
                        </td>
                    </tr>

                    <tr>
                        <td>
                            @if (i == (nbLines - 1))
                            {
                                @if (nbLines < 10)
                                {
                                <button type="submit" name="buttonType" value="addRep" class="btn btn-default">@Translation.ADD_REPS</button>
                                }

                                @if (i > 0)
                                {
                                <button type="submit" name="buttonType" value="delete" class="btn btn-default">@Translation.DELETE_REPS</button>
                                }
                            }
                        </td>
                        <td/>
                    </tr>
                    }
            </table>
            </div>
        </div>
    }


    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" name="buttonType" value="submit" class="btn btn-default">@Translation.VALIDATE</button>
        </div>
    </div>

</form>