@model TrainingExerciseViewModel

@{
}

<h2>@Translation.TRAINING_EXERCISE. </h2>

<form asp-action="EditTrainingExercise" method="post" class="form-horizontal" role="form">
    <h4>@Translation.MODIFY.</h4>
    <hr />

    <div asp-validation-summary="ValidationSummary.All" class="text-danger"></div>
    <input asp-for="UserId" hidden="hidden" />
    <input asp-for="Year" hidden="hidden" />
    <input asp-for="WeekOfYear" hidden="hidden" />
    <input asp-for="DayOfWeek" hidden="hidden" />
    <input asp-for="TrainingDayId" hidden="hidden" />
    <input asp-for="TrainingExerciseId" hidden="hidden" />
    <input asp-for="BodyExerciseId" hidden="hidden" />

    <div class="form-group">
        <label asp-for="BodyExerciseName" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            @Model.BodyExerciseName
            <br/>
            <img src="@string.Format("/images/bodyexercises/{0}.png", Model.BodyExerciseId)" style="height:150px; width:150px" id="bodyExerciseImage" class="bodyExerciseImage" onerror='this.style.display="none"' />
        </div>
    </div>
    
    

    <div class="form-group">
        <label asp-for="RestTime" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="RestTime" class="form-control" type="number" />
            <span asp-validation-for="RestTime" class="text-danger"></span>
        </div>
    </div>

    @if (Model.Reps != null && Model.Weights != null)
    {
        <div class="form-group">
            <label class="col-md-2 control-label"></label>
            <div class="col-md-10">
                @if (Model.Reps.Count < 10)
                {
                    <button type="submit" name="buttonType" value="addRep" class="btn btn-default">@Translation.ADD_REPS</button>
                    <br /><br /><br />
                }
                <table class="table">
                    <tr>
                        <th>
                            @Translation.REPS
                        </th>
                        <th>
                            @Translation.WEIGHT
                        </th>
                        <th>
                        </th>
                    </tr>

                    @for (int i = 0; i < Model.Reps.Count; i++)
                    {
                    <tr>
                        <td>
                            <input asp-for="@Model.Reps[i]" class="form-control" type="number" />
                        </td>
                        <td>
                            <input asp-for="@Model.Weights[i]" class="form-control" type="number" />
                        </td>
                        <td>
                            @if (i > 0 && i == (Model.Reps.Count - 1))
                            {
                                <button type="submit" name="buttonType" value="delete" class="btn btn-default">@Translation.DELETE</button>
                            }
                        </td>
                    </tr>
                    }
                </table>
</div>
        </div>
    }

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" name="buttonType" value="submit" class="btn btn-default">@Translation.VALIDATE</button>
        </div>
    </div>

</form>