@model TrainingWeekViewModel

@{
    
}

<h2>@Translation.TRAINING_JOURNAL. </h2>

<p></p>
<p>
    @Translation.WEEK_NUMBER @Model.WeekOfYear : @date <a asp-route-area="User" asp-controller="TrainingJournal" asp-action="Edit">[@Translation.EDIT]</a>
</p>


<form asp-route-area="User" asp-controller="TrainingJournal" asp-action="Edit" method="post" enctype="multipart/form-data" class="form-horizontal" role="form">
    <h4>@Translation.MODIFY.</h4>
    <hr />

    <div asp-validation-summary="ValidationSummary.All" class="text-danger"></div>
    <input asp-for="UserId" hidden="hidden" />
   

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-default">@Translation.SUBMIT</button>
        </div>
    </div>
</form>