@model List<TrainingWeekViewModel>
@using Framework;

@{ 
    string date;
}
<h2>@Translation.TRAINING_JOURNAL.</h2> 
<div>
    <p>
        <a asp-action="Create">@Translation.CREATE_NEW</a>
    </p>
    <table class="table">
        <tr>
            <th>
                @Translation.YEAR
            </th>
            <th>
                @Translation.WEEK_NUMBER
            </th>
            <th>
                @Translation.DATE
            </th>
            <th>@Translation.ACTION</th>
        </tr>

        @foreach (TrainingWeekViewModel item in Model)
        {
            DateTime dateTime = Utils.YearWeekToPlanningDateTime(item.Year, item.WeekOfYear);
            date = string.Format(Translation.FROM_THE_P0TH_TO_THE_P1TH_OF_P2_P3, dateTime.Day, dateTime.AddDays(6).Day, Translation.Get(((TMonthType)dateTime.Month).ToString().ToUpper()), dateTime.Year);
            <tr>
                <td>
                    @item.Year
                </td>
                <td>
                    @item.WeekOfYear
                </td>
                <td>
                    @date
                </td>
                <td>
                    <a asp-action="View" asp-route-userId="@item.UserId" asp-route-weekOfYear="@item.WeekOfYear" asp-route-year="@item.Year">@Translation.VIEW</a> |
                    <a asp-action="Delete" asp-route-userId="@item.UserId" asp-route-weekOfYear="@item.WeekOfYear" asp-route-year="@item.Year">@Translation.DELETE</a>
                </td>
            </tr>
        }
    </table>
</div>
@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}