@model Tuple<TrainingWeekViewModel, List<TrainingDayViewModel>, List<TrainingExerciseViewModel>>
@using Framework
@using System.Linq

@{
    string weightUnit = "kg", lengthUnit = "cm", unit = Translation.METRIC;

    if (ViewBag.UserUnit == (int)TUnitType.Imperial)
    {
        weightUnit = Translation.POUND;
        lengthUnit = Translation.INCH;
        unit = Translation.IMPERIAL;
    }

    List<TrainingDayViewModel> currentTrainingDayList = new List<TrainingDayViewModel>();
    if (Model.Item2 != null)
    {
        foreach (var trainingDay in Model.Item2)
        {
            if (trainingDay.DayOfWeek == (int)ViewBag.CurrentDayOfWeek)
            {
                currentTrainingDayList.Add(trainingDay);
            }
        }
    }

    currentTrainingDayList = currentTrainingDayList.OrderBy(c => c.BeginHour).ToList();

    List<DayOfWeek> dayOfWeekList = new List<DayOfWeek>()
    {
        DayOfWeek.Monday,
        DayOfWeek.Tuesday,
        DayOfWeek.Wednesday,
        DayOfWeek.Thursday,
        DayOfWeek.Friday,
        DayOfWeek.Saturday,
        DayOfWeek.Sunday
    };

    string date = "";
    try
    {
        DateTime dateTime = Utils.YearWeekToPlanningDateTime(Model.Item1.Year, Model.Item1.WeekOfYear);
        date = string.Format(Translation.FROM_THE_P0TH_TO_THE_P1TH_OF_P2_P3, dateTime.Day, dateTime.AddDays(6).Day, Translation.Get(((TMonthType)dateTime.Month).ToString().ToUpper()), dateTime.Year);
    }
    catch
    {
    }
}


<h2>@Translation.TRAINING_WEEK.</h2>

<p>@date</p>
<div class="panel panel-info">
    <div class="panel-heading">@Translation.USER : @Model.Item1.UserName <a asp-route-area="User" asp-controller="TrainingJournal" asp-action="Edit" asp-route-userId="@Model.Item1.UserId" asp-route-year="@Model.Item1.Year" asp-route-weekOfYear="@Model.Item1.WeekOfYear">[@Translation.EDIT]</a></div>
    <div class="panel-body">
        <dl class="dl-horizontal">
            <dt>@Translation.WEEK_NUMBER :</dt>
            <dd>
                @Model.Item1.WeekOfYear
            </dd>
            <dt>@Translation.HEIGHT (@lengthUnit):</dt>
            <dd>
                @Model.Item1.UserHeight
            </dd>
            <dt>@Translation.WEIGHT (@weightUnit):</dt>
            <dd>
                @Model.Item1.UserWeight
            </dd>
         </dl>
    </div>
</div>
<p>
    <h2>@Translation.TRAINING_DAY.</h2>
    <div class="btn-group">
        @foreach (var dayOfWeek in dayOfWeekList)
        {
            string classValue = "btn-default";


            if (Model != null && Model.Item2 != null)
            {
                foreach (var trainingDay in Model.Item2)
                {
                    if (trainingDay.DayOfWeek == (int)dayOfWeek)
                    {
                        classValue = "btn-info";
                    }
                }
            }

            if (ViewBag.CurrentDayOfWeek == dayOfWeek)
            {
                classValue += " active";
            }

            <button type="button" onclick="location.href='@Url.Action("View", "TrainingJournal", new { Area = "User", userId = Model.Item1.UserId, year = Model.Item1.Year, weekOfYear = Model.Item1.WeekOfYear, dayOfWeekSelected = (int)dayOfWeek })'" class="btn @classValue">@Translation.Get(((DayOfWeek)dayOfWeek).ToString().ToUpper())</button>
        }
        </div>
</p>


@if (currentTrainingDayList.Count == 0)
{
    <p>
        @Translation.YOU_HAVENT_CREATE_THIS_TRAINING_DAY.
        <a asp-action="CreateTrainingDay" asp-route-userId="@Model.Item1.UserId" asp-route-year="@Model.Item1.Year" asp-route-weekOfYear="@Model.Item1.WeekOfYear" asp-route-dayOfWeek="@((int)ViewBag.CurrentDayOfWeek)">@Translation.CREATE_NEW_PE</a>
    </p>
}
else
{
    <p>
        <a asp-action="CreateTrainingDay" asp-route-userId="@Model.Item1.UserId" asp-route-year="@Model.Item1.Year" asp-route-weekOfYear="@Model.Item1.WeekOfYear" asp-route-dayOfWeek="@((int)ViewBag.CurrentDayOfWeek)">@Translation.CREATE_NEW_PE</a>
    </p>

    @foreach (TrainingDayViewModel trainingDay in currentTrainingDayList)
    {
        <div class="panel panel-info">
            <div class="panel-heading">
                @Translation.FROM @Html.DisplayFor(modelItem => trainingDay.BeginHour) @Translation.TO @Html.DisplayFor(modelItem => trainingDay.EndHour)
                <a asp-route-area="User" asp-controller="TrainingJournal" asp-action="EditTrainingDay" asp-route-userId="@trainingDay.UserId" asp-route-year="@trainingDay.Year" asp-route-weekOfYear="@trainingDay.WeekOfYear" asp-route-dayOfWeek="@trainingDay.DayOfWeek" asp-route-trainingDayId="@trainingDay.TrainingDayId">[@Translation.EDIT</a>
                <a asp-route-area="User" asp-controller="TrainingJournal" asp-action="DeleteTrainingDay" asp-route-userId="@trainingDay.UserId" asp-route-year="@trainingDay.Year" asp-route-weekOfYear="@trainingDay.WeekOfYear" asp-route-dayOfWeek="@trainingDay.DayOfWeek" asp-route-trainingDayId="@trainingDay.TrainingDayId">@Translation.DELETE]</a>
            </div>
            <div class="panel-body">
                <a asp-route-area="User" asp-controller="TrainingJournal" asp-action="AddTrainingExercises" asp-route-userId="@trainingDay.UserId" asp-route-year="@trainingDay.Year" asp-route-weekOfYear="@trainingDay.WeekOfYear" asp-route-dayOfWeek="@trainingDay.DayOfWeek" asp-route-trainingDayId="@trainingDay.TrainingDayId">@Translation.ADD_EXERCISES</a>

                <div>
                    <table class="table">
                        <tr>
                            <th>
                                Image
                            </th>
                            <th>
                               @Translation.BODY_EXERCISES
                            </th>
                            <th>
                                @Translation.SETS / @Translation.REPS
                            </th>
                            <th>
                                @Translation.WEIGHT<br/>(@weightUnit)
                            </th>
                            <th>
                                @Translation.REST_TIME
                            </th>
                            <th>
                                @Translation.ACTION
                            </th>
                        </tr>

                        @if (Model.Item3 != null)
                        {
                            @foreach (TrainingExerciseViewModel trainingExercise in Model.Item3)
                            {
                                @if(trainingDay.TrainingDayId == trainingExercise.TrainingDayId)
                                {
                                <tr>
                                    <td>
                                        <img src="@trainingExercise.BodyExerciseImage" style="height:100px; width:100px" id="bodyExerciseImage" class="bodyExerciseImage" onerror='this.style.display="none"' />
                                    </td>
                                    <td>
                                        @trainingExercise.BodyExerciseName
                                    </td>
                                    <td>
                                        @if (trainingExercise.TupleSetReps != null)
                                        {
                                            @foreach (Tuple<int, int, double> tupleSetRep in trainingExercise.TupleSetReps)
                                            {
                                                @tupleSetRep.Item1 @: x @tupleSetRep.Item2<br/>
                                            }
                                        }
                                    </td>
                                    <td>
                                        @foreach (Tuple<int, int, double> tupleSetRep in trainingExercise.TupleSetReps)
                                        {
                                            @Math.Round(tupleSetRep.Item3, 3)<br />
                                        }
                                    </td>
                                    <td>
                                        @trainingExercise.RestTime sec
                                    </td>
                                    <td>
                                        <a asp-action="EditTrainingExercise" asp-route-userId="@trainingExercise.UserId" asp-route-year="@trainingExercise.Year" asp-route-weekOfYear="@trainingExercise.WeekOfYear" asp-route-dayOfWeek="@trainingExercise.DayOfWeek" asp-route-trainingDayId="@trainingExercise.TrainingDayId" asp-route-trainingExerciseId="@trainingExercise.TrainingExerciseId">@Translation.EDIT</a> |
                                        <a asp-action="DeleteTrainingExercise" asp-route-userId="@trainingExercise.UserId" asp-route-year="@trainingExercise.Year" asp-route-weekOfYear="@trainingExercise.WeekOfYear" asp-route-dayOfWeek="@trainingExercise.DayOfWeek" asp-route-trainingDayId="@trainingExercise.TrainingDayId" asp-route-trainingExerciseId="@trainingExercise.TrainingExerciseId">@Translation.DELETE</a>
                                    </td>
                                </tr>
                                }
                            }
                        }

                    </table>
                </div>
            </div>
        </div>
    }

}