@using System.Security.Claims

<h2>@Translation.ADMIN : @Translation.MUSCLES.</h2>

<div>
    <p>
        <a asp-action="CreateMuscle">@Translation.CREATE_NEW</a>
    </p>
    <table class="table">
        <tr>
            <th>
               @Translation.ID
            </th>
            <th>
                @Translation.NAME
            </th>
            <th>
                @Translation.MUSCULAR_GROUP
            </th>
            <th>@Translation.ACTION</th>
        </tr>

        @foreach (MuscleViewModel item in ViewBag.Muscles)
        {
            <tr>
                <td>
                    @item.Id
                </td>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.MuscularGroupName
                </td>
                <td>
                    <a asp-action="EditMuscle" asp-route-id="@item.Id">@Translation.EDIT</a> |
                    <a asp-action="DeleteMuscle" asp-route-id="@item.Id">@Translation.DELETE</a>
                </td>
            </tr>
        }
    </table>
</div>
@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}