<h2>@ViewBag.Title.</h2>

<div class="container">
    <h3>@ViewBag.Message</h3>
    <button type="button" class="btn btn-success" onclick="location.href='@ViewBag.ReturnUrlYes'">@Translation.YES</button>
    <button type="button" class="btn btn-danger" onclick="location.href='@ViewBag.ReturnUrlNo'">@Translation.NO</button>
</div>

